.logo{
    max-height: 99%;
    margin-left: 10px;
    width: auto;
}

.full{
    max-height: 99%;
    max-width: 99%;
    margin-top: 10px;
}

.links{
    color: white;
}

.log-in{
    width: 200px;
}
.cardpoll{
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
}
.container-index{
	margin-left: 50px;
	margin-right: 50px;
}
html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
[type="radio"]:disabled + label {
  color: #565656 !important;
}