{% extends "Base.html" %}

{% block title %}{{ poll.name }}{% if poll.closed %}'s Results{% endif %}{% endblock title %}

{% block imports %}
{% load static %}
<script type="text/javascript" src="{% static "js/gcharts.js" %}"></script>
<script type="text/javascript" src="{% static "js/poll.js" %}"></script>
{% endblock imports %}

{% block polla %}grey{% endblock polla %}

{% block bod %}
<div class="container">
  <h1 class="header">{{ poll.name }}{% if poll.closed %}<span class="grey-text text-darken-2"> - Closed</span>{% endif %}</h1>
</div>
  {% if poll.closed %}
    <div class="row container">
      <div class="col s6">
        <div class="card black">
          <div class="card-content white-text">
            <ul>
            {% for choice in poll.orderedChoices %}
              <li>{{ choice.choice|title }}</li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card black">
          <div class="card-content white-text">
            <div class="valign-wrapper align-center" id="graph">
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="row container">
      <div class="col s12 m6">
        <div class="row">
          <div class="col s12">
            <div class="card black circle">
              <div class="card-content white-text">
                <form id="choiceForm" accept-charset="utf-8">
                  {% csrf_token %}
                {% for choice in poll.allChoices %}
                    <input name="choice" class="" type="radio" id="{{choice.id}}" value="{{choice.id}}" {% if poll.closed %} disabled="disabled"{% endif %}/>
                    <label for="{{ choice.id }}">{{choice.choice}}</label><br>
                {% endfor %}
                </form>
              </div>
            </div>
          </div>
          <div class="col s12">
            <div class="card black waves-effect waves-light" onclick="vote()">
              <div class="card-content">
                <h3 class="white-text">Vote</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card black">
          <div class="card-content white-text" id="graph">
          </div>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock bod %}