{% extends "Base.html" %}

{% block title %}Tomu's Polls{% endblock title %}

{% block imports %}
{% load static %}
<!-- Load c3.css -->
<link href="{% static "css/c3.min.css" %}" rel="stylesheet">

<!-- Load d3.js and c3.js -->
<script src="https://d3js.org/d3.v3.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static "js/polls.js" %}"></script>
{% endblock imports %}

{% block polla %}grey{% endblock polla %}

{% block bod %}
<br>
<br>
<div class="container-index">
	<div class="row">
		{% for poll in polls %}

		<div class="col s6 m6 l6 white-text">
			<div class="card horizontal black">
				<div class="card-stacked">
					<div class="cardpoll">
						<span class="card-title">{{poll|title}}</span>
					</div>
					<div class="card-content" style="padding: 10px;">
						<form action="{% url 'polls' %}" id="form-{{ poll.id }}" method="POST" accept-charset="utf-8">
							{% csrf_token %}
							{% for choice in poll.allChoices %}
							<p>
								<input name="choice" class="black" type="radio" id="{{choice.id}}" value="{{choice.id}}" />
								<label for="{{ choice.id }}">{{choice.choice}}</label>
							</p>
							{% endfor %}
						
						
					</div>
					
				</div>
				
				</form>
				<div class="card-image valign-wrapper" id="graph-{{ poll.id }}">
				<a class="btn waves-effect waves-light black valign" onclick="vote({{poll.id}})">Vote
							<i class="material-icons right valign">send</i>
				</a>
							<!--<button onclick="drawthispoll({{ poll.id }})">View Results</button>-->
					</div>
			</div>
		</div>

		{% endfor %}
	</div>
</div>
{% endblock bod %}