{% extends "Base.html" %}

{% block title %}Tomu's Polls{% endblock title %}

{% block imports %}
{% load static %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static "js/polls.js" %}"></script>
{% endblock imports %}

{% block polla %}grey{% endblock polla %}

{% block bod %}
<br>
<br>
<div class="container-index">
	<div class="row">
		{% for poll in polls %}

		<div class="col s6 m6 l6 white-text">
			<div class="card horizontal black">
				<div class="card-stacked">
					<div class="cardpoll">
						<a href="{% url 'poll' poll.id %}"><span class="card-title">{{poll|title}}{% if poll.closed %} <span class="grey-text">- Closed </span>{% endif %}</span><br></a>
						<span class="grey-text by"><i>By: {{ poll.admin|title }} - {{ poll.created }}</i></span>
					</div>
					<div class="card-content" style="padding: 10px;">
						<form action="{% url 'polls' %}" id="form-{{ poll.id }}" method="POST" accept-charset="utf-8">
							{% csrf_token %}
							{% for choice in poll.allChoices %}
							<p>
								<input name="choice" class="" type="radio" id="{{choice.id}}" value="{{choice.id}}" {% if poll.closed %} disabled="disabled"{% endif %}/>
								<label for="{{ choice.id }}">{{choice.choice}}</label>
							</p>
							{% endfor %}
					</div>
				</div>
				</form>
				<div class="card-image valign-wrapper" id="graph-{{ poll.id }}">
					{% if not poll.closed %}	
					<a class="btn waves-effect waves-light black valign" onclick="vote({{poll.id}})">Vote <i class="material-icons right valign">send</i></a>
					{% else %}
					<a class="btn waves-effect waves-light black valign" onclick="drawthispoll({{poll.id}})">View Results</a>
					{% endif %}
				</div>
			</div>
		</div>

		{% endfor %}
	</div>
</div>
 <div class="fixed-action-btn">
    <a class="btn-floating btn-large grey darken-4"  href="#modal1">
      <i class="large material-icons" >add</i>
    </a>
  </div>

 <!-- Modal Trigger -->
 
 <div id="modal1" class="modal grey darken-4 white-text">
 	<div class="modal-content">
 		<h4>Make a new Poll</h4>
 		<form id="create_poll">
 			{% csrf_token %}
 			<div class="input-field col s12 ">
 				<input id="polltitle" name="polltitle" placeholder="Poll name" type="text" >
 			</div>
 			<div id= "newpoll">
 				<h4>Hours until close</h4>
 				<input placeholder="Default: 6" type="number" name="workhours" id="workhours">
 				<h4>Add choices</h4>
 				<input placeholder="Choice 1" name="choice1" type="text" id="choice1">
 			</div>
 	</form>
 </div>
 <div class="modal-footer grey darken-4 white-text" >
 	<a id = "confirm_poll" class="modal-action modal-close waves-effect waves-green btn-flat">Confirm</a>
 </div>
</div>
{% endblock bod %}